body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: filter(blur(5px)); }
  body h2 {
    text-transform: uppercase;
    font-size: 20px; }
  body p {
    margin: 0; }

h1 {
  font-size: 30px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
  margin-left: 30px; }

header {
  position: relative;
  display: flex;
  align-items: center;
  background: #E7E7E5;
  width: 100%;
  height: 50px;
  margin-bottom: 20px; }
  header img {
    height: 50px; }

span {
  margin: 0 20px 10px; }

h4 {
  margin: 20px 20px; }

.timer, .timer2, .timer3 {
  display: flex;
  position: absolute;
  bottom: 10px;
  font-size: 25px;
  z-index: 3; }
  .timer_box, .timer2_box, .timer3_box {
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    width: 100%;
    background: #E1E1E1;
    border-radius: 10px;
    opacity: 0.9;
    z-index: 1; }

.days, .hours, .minutes {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900; }

.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
  margin-right: 10px;
  z-index: 3; }

.header_box {
  position: relative;
  display: flex;
  justify-content: center; }

.wrapper {
  margin: 0 70px; }

.wrapp_item {
  margin: 0 20px; }

.equipment_list {
  display: flex;
  justify-content: space-around; }
  .equipment_list_item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 33%;
    border: 1px solid #DDDDDD;
    margin-right: 70px;
    padding: 0 20px; }
    .equipment_list_item:last-child {
      margin-right: 0; }
.equipment_icon {
  margin: 0 30px 25px;
  width: 100%;
  max-width: 425px;
  height: 200px; }
.equipment_footer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 25px; }
  .equipment_footer_item i {
    margin-right: 5px;
    color: #847F7C; }
  .equipment_footer_item a {
    color: #357AA1;
    text-decoration: none; }

.name_item {
  height: 65px; }

.code {
  border: 3px solid #2180BA;
  border-radius: 15px;
  color: #2180BA;
  margin: 0 20px;
  padding: 15px;
  text-decoration: none;
  font-weight: 400;
  text-align: center; }

.manufacturer {
  font-size: 14px;
  margin: 5px 20px; }

.residue {
  display: flex;
  color: #888B9A;
  font-size: 14px;
  align-items: flex-end;
  margin-bottom: 55px; }
  .residue img {
    margin-right: 5px;
    width: 30px;
    height: 30px; }

.sale_title {
  position: relative;
  background: #212121;
  color: #A2CE49;
  font-weight: 600;
  text-align: right;
  border-bottom: 3px solid #6D7F4A;
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 10px 0 0;
  margin: 0 20px;
  font-family: 'Exo 2', sans-serif; }
  .sale_title img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -40px;
    left: 10px; }
  .sale_title:after {
    position: absolute;
    top: 30px;
    right: 10px;
    content: "";
    width: 115px;
    height: 5px;
    background: #2890D0; }
.sale_text {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background: #212121;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  margin: 0 20px 5px;
  font-family: 'Exo 2', sans-serif; }

.regular_price {
  color: #B1ADA9;
  margin: 15px 20px; }

.discount_price {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  color: #F1982E;
  font-size: 30px;
  font-weight: 700;
  margin: 0 20px  20px; }

.price {
  color: #F1982E;
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px; }

.buy {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: #fff;
  margin: 0 20px 10px;
  text-align: center;
  font-size: 16px;
  background: #F1982E;
  text-decoration: none;
  padding: 5px 0; }

#go_buy {
  display: none;
  background: #EDE1D1;
  position: absolute;
  top: 70px;
  left: 15%;
  width: 70%;
  height: 735px;
  z-index: 99;
  opacity: 1; }
  #go_buy img {
    width: 150px;
    height: 100px;
    padding: 30px; }

.header {
  background: #DB6655;
  width: 100%;
  height: 80px;
  z-index: 10;
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
  display: flex; }
  .header p {
    margin: 0; }
  .header-text i {
    color: #F18D7D;
    position: absolute;
    top: 0;
    right: 0; }
  .header-text {
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
    font-family: "Arial", sans-serif;
    align-items: center;
    display: flex;
    padding-left: 50px; }

.close {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 27px;
  right: 50px; }

.service_list {
  position: absolute;
  top: 115px;
  left: 30px; }
  .service_list_box {
    display: flex;
    flex-wrap: wrap; }

.box_list_item {
  display: flex;
  width: 50%; }
  .box_list_item:hover {
    background: #FAF4E6; }
  .box_list_item span {
    margin: auto 0; }

.text_icon_nalog {
  color: #CE847C; }

/* rezina */
@media screen and (max-width: 1199px) {
  .sale_title, .sale_text {
    margin: 0; }

  .equipment_list_item {
    margin-right: 8px; }

  .discount_price {
    font-size: 25px; }

  .service_list {
    left: 0; } }
@media screen and (max-width: 992px) {
  .wrapper {
    margin: 0; }

  .code {
    padding: 10px; }

  h4 {
    font-size: 13px; }

  .sale_title img {
    width: 80px;
    height: 80px;
    top: -20px; }

  .regular_price, .prce, .equipment_footer_item a {
    font-size: 13px; }

  .discount_price {
    font-size: 23px; }

  .box_list_item {
    width: 100%; }

  #go_buy {
    height: 1180px; } }
@media screen and (max-width: 800px) {
  .equipment_list {
    flex-wrap: wrap;
    justify-content: space-between; }
    .equipment_list_item {
      margin: 0 0 50px 0;
      width: 40%; } }
@media screen and (max-width: 480px) {
  .equipment_list_item {
    width: 100%;
    padding: 0; }

  .wrapper {
    margin: 0 10px; }

  h1 {
    font-size: 20px;
    margin-bottom: 0; }

  #go_buy {
    height: 1010px;
    width: 100%;
    left: 0; }

  #go_buy img {
    width: 100px;
    height: 75px; }

  .header-text {
    font-size: 20px;
    padding-left: 20px; } }

/*# sourceMappingURL=style.css.map */
